[submodule "UniversalDetector"]
	path = UniversalDetector
	url = https://github.com/MaddTheSane/UniversalDetector.git
[submodule "XADMaster-2"]
	path = XADMaster
	url = https://github.com/MaddTheSane/XADMaster-2.git
